@inherits LayoutComponentBase
@using LasPollasHermanas.Client.Extensions
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="top-row px-4">
        <a @onclick="CerrarSesion" href="javascript:void(0)">Salir</a>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private async Task CerrarSesion()
    {
        var autenticacionExt = (AuthExtension)autenticacionProvider;
        await autenticacionExt.UpdateAuthStatus(null);
        navManager.NavigateTo("/", true);
    }
}